body{
    font-family: Poppins;
    min-height: 100vh;
    background:  #80CAF3;
}
    .popupsuccess{

        width: 400px;
        background: #fff;
        border-radius: 6px;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.1);

        text-align: center;
        padding: 0 30px 30px;
        color: #333;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;

    }


    .open-sucpopup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%,-50%) scale(1);

    }

    .popupsuccess img{

        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }


    .popupsuccess h2{
        font-size: 32px;
        font-weight: 1000;
        
        margin: 30px 0 10px;
    }

    .popupsuccess button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: #6fd549;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }